USE [master]
GO
/****** Object:  Database [AlifAcademy]    Script Date: 9/3/2021 11:46:35 AM ******/
CREATE DATABASE [AlifAcademy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlifAcademy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AlifAcademy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlifAcademy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AlifAcademy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlifAcademy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlifAcademy]
GO
USE [AlifAcademy]
GO
/****** Object:  Table [dbo].[Tiger]    Script Date: 9/3/2021 11:46:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiger](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[height] [nvarchar](50) NOT NULL,
	[weight] [nvarchar](50) NOT NULL,
	[color] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
